!!!
%html{:lang => "en"}
  %head
    = bootstrap_assets
  %body
    .container
      %h2  #{@group} Group Sales #{@report_time}
      %table{:class => "table table-bordered"}
        %tbody
          %tr
            %td <b>DESC
            %td <b>VALUE
            %td <b>QUANTITY
            %td <b>AVG PRICE
            
          - @groupsales.each do |row|
            %tr
              %td= row[0]
              %td= Money.new(row[1]*100).format
              %td= row[2].round if row[2]
              %td= Money.new((row[1]/row[2])*100).format if row[2]