%p Items Sold by Hour - Today
= line_chart @activitybyhour_today, height: "170px"
%p Items Sold by Hour - Past Week
= line_chart @activitybyhour_lastweek, height: "170px"
%p Items Sold by Day - Past Month
= line_chart @activitybyday, height: "170px"
%p Items Sold By Week - Since 28 Oct 2015
= line_chart @activitybyweek, height: "170px"
%p Items Sold By Month - Since 28 Oct 2015
= line_chart @activitybymonth, height: "170px"

