%p Sales Count by Hour - Today
= line_chart @activitybyhour_today, height: "170px"
%p Sales Count by Hour - Past Week
= line_chart @activitybyhour_lastweek, height: "170px"
%p Sales Count by Day - Past Month
= line_chart @activitybyday, height: "170px"
%p Sales Count By Week - All Data
= line_chart @activitybyweek, height: "170px"
%p Sales Count By Month - All Data
= line_chart @activitybymonth, height: "170px"

