!!!
%html{:lang => "en"}
  %head
    = bootstrap_assets
  %body
    .container
      %h2 #{@stockitem.desc} - #{@plu} - #{@stockitem.depart.desc}
      %table{:class => "table table-bordered"}
        %tbody
          %tr
            %td <b>PRICE
            %td <b>COST
            %td <b>CASE QTY
            %td <b>VAT RATE
          %tr
            %td= Money.new(@stockitem.price1*100).format
            %td= Money.new(@stockitem.cost*100).format
            %td= @stockitem.caseqty
            %td #{@stockitem.vatrate.round(0)}%